<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" type="text/css">

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/datedropper.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/timedropper.min.css">
    <style type="text/css">
        .demo{margin:80px auto 40px auto;width:320px}
        .input{padding:6px;border:1px solid #d3d3d3}
    </style>
</head>

<body>

<div id="top" class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Flint</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <% if (locals.username) { %>
                    <li><a href="/userBooking">预约车位</a></li>
                    <li class="active"><a href="#">预约信息</a> </li>
                    <li><a href="/logout">注销</a> </li>
                    <% } %>
                </ul>
                <form class="navbar-form navbar-left">

                </form>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div> <!--nav bar-->




<div id="bottom" class="container"> <!-- header-->

    <div>
        <h2>欢迎使用没车位停车场<br>预约系统<small><br>你好，旅行者</small></h2>
    </div>
    <div>
        <table>
            <% for(var i=0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].name %></td>
            </tr>
            <% } %>
        </table>
    </div>

</div>

</body>

</html>